In [1]:
# Импорт библиотек

import pandas as pd
import psycopg2 as ps

from sqlalchemy import create_engine

import json

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
# Нужно создать таблицу в базе postgres локально, для этого прочитаем данные из csv сначала

data = pd.read_csv('data/data_export.csv')
data.head(1)

,Unnamed: 0,id_company,Company,Direction,Description,Categories,Products,Status,INN,OGRN,...,Locality,Address,Telephone,Post,Instagram,Catalogs,URL,VK,Youtube,Facebook
0,0,19951.0,Корсарус,Производитель бытовой химии,"ООО ""Корсарус"" является ведущим производителем...",[],"['Жидкие средства для стирки', 'Пластины от ко...",Действующая организация,5.047112e+09,1.105047e+12,...,Домодедово,"142000, Московская область, г. Домодедово, мкр...",89157229517,Lar_s@corsarus.ru,https://www.instagram.com/corsarus_moscow,[],NaN,NaN,NaN,NaN

In [3]:
# подключение к базе обязательно через create_engine для сохранения данных в базу

conn_string = 'postgresql+psycopg2://postgres:141042@127.0.0.1/Suppliers_goods'
  
db = create_engine(conn_string)
conn = db.connect()

In [4]:
# загрузка данных из датафрейма в базу, если таблица существует, она перезапишется

data.to_sql('suppliers_new', con=conn, if_exists='replace')
conn.close()

In [5]:
# Подключение к базе более привычным для меня способом для выполнения запросов

try:
    con = ps.connect(
    database="Suppliers_goods", # подключение к существующей базе
    user="postgres", 
    password="141042", 
    host="127.0.0.1", # база на локальном компьютере
    port="5432"
    )
    display('Всё получилось :) Подключение прошло успешно')
except:
    display('Упс... что-то пошло не так...')
    
cur = con.cursor()

'Всё получилось :) Подключение прошло успешно'

In [6]:
# Проверка - выполним запрос ко всем полям и всем записям

SQL_text = """
SELECT * from public.suppliers
"""

cur.execute(SQL_text)


data = pd.read_sql(SQL_text, con)
data.head(2)

con.close() # будем подключаться и отключаться от базы для каждого запроса

In [10]:
# Подключение к базе
try:
    con = ps.connect(
    database="Suppliers_goods", # подключение к существующей базе
    user="postgres", 
    password="141042", 
    host="127.0.0.1", # база на локальном компьютере
    port="5432"
    )
    display('Всё получилось :) Подключение прошло успешно')
except:
    display('Упс... что-то пошло не так...')
    
cur = con.cursor()

# Имитация запроса по городу
selected_city = "'Мытищи'"

# Запрос для вывода на экран
# DISTINCT для отсутствия дублей в выводимых данных
SQL_text = """SELECT DISTINCT "Company", "Address", "Telephone", "URL" from public.suppliers WHERE "Locality" = """ + selected_city

# Выполняем запрос и сохраняем в датафрейм, затем закрываем соединение с базой
cur.execute(SQL_text)
data_city = pd.read_sql(SQL_text, con)
con.close()

# Вывод данных на экран на закладке ДАННЫЕ - 4 поля
data_city

'Всё получилось :) Подключение прошло успешно'

,Company,Address,Telephone,URL
0,Carrello,"г. Мытищи, ш. Осташковское, вл. 5, ст. 1",None,http://carrellobaby.com
1,Chkalov,"г. Мытищи, ул. Мира 51",+7495642-34-26,http://chkalov-tm.ru
2,Clicgear,"г. Мытищи, Олимпийский проспект 2",+7(499)286-84-61,http://clicgear.ru
3,Cottus,"г. Мытищи, Волковское шоссе, владение 13А, «ст...",+7(495)504-37-29,http://cottus.ru
4,CтеклоКом,"г. Мытищи, Ярославское шоссе, д. 118кВ2",+7(495)5863449,http://steklo-kom.ru
...,...,...,...,...
117,Царевна,"Мытищи, улица Колпакова, 11",+7-916-657-97-31,http://folkrus.ru
118,Экопром-Строй,"г. Мытищи, ул. Силикатная, 36",+7(495)746-81-40,http://ekopromstroy.com
119,Электросистемы и технологии,"г. Мытищи, ул. Колпакова, д. 2, технопарк «Нов...",+7(495)926-06-16,http://hagersystems.ru
120,Энертэкс,"г. Мытищи, ул. Чернышевского, д. 28",+7(495)544-29-92,http://enertex.ru
121,Юкон-99,"г. Мытищи, Московская область, ул. Рождественс...",+7(901)183-87-87,http://yukon99.ru

In [9]:
# Подключение к базе
try:
    con = ps.connect(
    database="Suppliers_goods", # подключение к существующей базе
    user="postgres", 
    password="141042", 
    host="127.0.0.1", # база на локальном компьютере
    port="5432"
    )
    display('Всё получилось :) Подключение прошло успешно')
except:
    display('Упс... что-то пошло не так...')
    
cur = con.cursor()

# Допустим на закладке данные пользователь выбрал компанию Главстекло
# Имитация запроса по компании
selected_company = "'Главстекло'"

# Запрос для вывода на экран
SQL_text = """SELECT * from public.suppliers WHERE "Company" = """ + selected_company # здесь можно рассмотреть варианты, по какому именно полю делать фильтр, в зависимости от данных

# Выполняем запрос и сохраняем в датафрейм, закрываем соединение
cur.execute(SQL_text)
data_company = pd.read_sql(SQL_text, con)
con.close()

# Вывод данных на экран
data_company

'Всё получилось :) Подключение прошло успешно'

,index,Unnamed: 0,id_company,Company,Direction,Description,Categories,Products,Status,INN,...,Locality,Address,Telephone,Post,Instagram,Catalogs,URL,VK,Youtube,Facebook
0,2107,2106,3134.0,Главстекло,Производитель стеклянных изделий,Стекольная компания ГлавСтекло предлагает услу...,"['Строительные и отделочные материалы', 'Двери...",[],Действующая организация,None,...,Мытищи,"г. Мытищи, Олимпийский проспект 2к1",+7(495)945-41-07,5094062@mail.ru,None,[],http://glavglass.ru,None,None,None

In [ ]:
# Здесь будет блок для вывода аналитики

In [ ]:
# Здесь будет блок для вывода данных, когда фильтр - продукция

In [ ]:

#SELECT * from public.suppliers WHERE 
#SELECT * FROM sal_emp WHERE 10000 = ANY (pay_by_quarter)